h1#poll-prompt {
  font-family: "Balsamiq Sans", cursive;
}

#navbar.bg-light {
  background-color: #ffa500 !important;
}

.narrow-container {
  max-width: 600px !important;
}

.img-short {
  max-height: 350px;
}

.business-card {
  max-width: 375px;
}
